#switchbtn:checked{
    background-color: silver;
    background-image: url(../public/sun-svgrepo-com.svg);
    border: none;
}
#switchbtn{
    background-image: url(../public/moon-svgrepo-com.svg);
    border: none;
}